.background {
    background-color: brown;
}

.wt {
    color: white;
}

.bt {
    color: black;
}

.page {
    background-color: white;
    box-shadow: inset 0 0 10px brown;
    min-height: 90vh;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}

.hidden {
    display: none;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.title-small {
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}

.title-small-x {
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.call {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    min-height: 10px;
    min-width: 200px;
    margin: 10px;
}

.call-row {
    padding: 0px;
}

.call-text {
    min-height: 10px;
}

.call-open {
    margin-right: 10px;
    margin-bottom: 10px;
}

.call-create {
    margin-top: 0px;
    margin-right: 10px;
}

.author {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

.author-comm {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.comm-text {
    min-height: 10px;
}

.comm {
    border-left: 2px solid #cc0033;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: lightgray;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#loginform {
    padding-top: 18px;
}

#loginform p {
    margin: 5px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 90%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#usermsg {
    width: 60%;
    margin-left: 45px;
    border-radius: 5px;
}

#submit {
    width: 60px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;
}

.logout {
    float: right;
}

.msgln {
    margin: 0 0 2px 0;
}